.look-body {
  height: 100vh;
}

.look-nav .nav__list .nav__btn .nav__link .fa-compact-disc {
  color: white;
  opacity: 1;
}
.look-main {
  width: 100vw;
  height: 100%;
  padding: 0px 25px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
