.look-body {
  height: 100vh;
}

.look-nav .nav__list .nav__btn .nav__link .fa-compact-disc {
  color: white;
  opacity: 1;
}
.look-main {
  width: 100vw;
  height: 100%;
  padding: 0px 25px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main__chart {
  height: 85%;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
}
.chart__song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.chart__song img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.song__info {
  margin: 0px 10px;
  width: 220px;
  display: flex;
  justify-content: flex-start;
}
.info-column {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.song__icons {
  width: 50px;
  display: flex;
  justify-content: space-around;
}
