.search-nav .nav__list .nav__btn .nav__link .fa-search {
  color: white;
  opacity: 1;
}
.search-bar {
  position: relative;
  padding: 0px 25px;
  padding-top: 100px;
}
.search-bar input {
  padding: 5px;
  padding-left: 40px;
  height: 40px;
  width: 100%;
  border: var(--main-border);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #e8eae9;
  border: none;
}
.search-bar i {
  opacity: 0.5;
  position: absolute;
  bottom: 12px;
  left: 35px;
}
.main-screen {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 25px;
}
.main-screen > span {
  font-size: x-large;
  font-weight: 600;
  display: block;
  margin-bottom: 30px;
}
.keywords__content {
  height: 10%;
  width: 100%;
  font-size: x-large;
  margin-bottom: 40px;
}
.keywords__content span:first-child {
  color: var(--blue);
  font-weight: 600;
  margin-right: 30px;
}
.keywords__content:first-child {
  animation: FadeDown 1s forwards;
}
.keywords__content:nth-child(2) {
  animation: FadeDown 1s 0.1s forwards;
}
.keywords__content:nth-child(3) {
  animation: FadeDown 1s 0.2s forwards;
}
.keywords__content:nth-child(4) {
  animation: FadeDown 1s 0.3s forwards;
}
.keywords__content:nth-child(5) {
  animation: FadeDown 1s 0.4s forwards;
}
.keywords__content:nth-child(6) {
  animation: FadeDown 1s 0.5s forwards;
}
.keywords__content:nth-child(7) {
  animation: FadeDown 1s 0.6s forwards;
}
.keywords__content:nth-child(8) {
  animation: FadeDown 1s 0.7s forwards;
}
.keywords__content:nth-child(9) {
  animation: FadeDown 1s 0.8s forwards;
}
.keywords__content:last-child {
  animation: FadeDown 1s 0.9s forwards;
}
