.content {
  width: 100%;
}
.content__column {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.content-list {
  overflow: hidden;
  display: flex;
  align-content: center;
}
.content__column .content-list img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 0px;
  margin-right: 10px;
}
.content__column .content-list .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__column .content-list .contents > div {
  height: 200px;
  width: 200px;
  margin: 10px 0px;
  border-radius: 10px;
  margin-right: 10px;
}
.content__column img:hover {
  animation: borderLine 0.2s forwards;
}
